[submodule "themes/stack"]
	path = themes/stack
	url = https://github.com/CaiJimmy/hugo-theme-stack.git
[submodule "public"]
	path = public
	url = https://github.com/MntChocoPsycho/mntchocopsycho.github.io.git
	branch = main
